//
// HEADER
// ------
.header{
  position: relative;

  padding: 2rem 0 0;

  text-align: center;
}
.header__logo{
  display: inline-block;
  overflow: hidden;

  width: 240px;
  margin: 0 auto;
  img{
    height: 25px;
  }
}
.header__logo{
  @include media-breakpoint-up(md){
    width: auto;

    img{
      height: 40px;
    }
  }
}
.header__lang{
  margin: 2rem auto 0;
  li{
    display: inline;

    padding: 0 1rem;
  }
  a{
    font-size: 1.25rem;
    line-height: 1;
  }
  img{
    vertical-align: unset;
  }
  .current-lang a{
    pointer-events: none;
  }
}
.header__lang{
  @include media-breakpoint-up(md){
    display: flex;

    margin: 0;

    align-items: flex-end; /* align vertical */
    li{
      padding: 0 .5rem;
    }
    a{
      font-size: 1rem;
    }
    li:last-child{
      padding-right: 1rem;
    }
  }
  @include media-breakpoint-up(lg){
    a:hover{
      color: $red;
    }
    .current-lang a{
      span{
        font-weight: $font-weight-bold;
      }

      &:hover{
        color: $black;
      }
    }
  }
}
.header__lang{
  @include media-breakpoint-only(md){
    position: absolute;
    top: 82px;
    right: 0;
    z-index: 100;

    height: 52px;
    padding: 15px;

    background: red;
    a{
      color: white;
    }
  }
}
