.page{
  margin-bottom: 3rem;
}

.page-bg{
  position: relative;

  width: 100%;
  height: 150px;

  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
  }
}

.page-main-title{
  display: flex;
  position: relative;
  z-index: 10;

  height: 150px;
  margin: 0;

  font-size: 3rem;
  font-weight: $font-weight-heavy;

  color: $red;

  align-items: center;
  align-content: center;
}

@include media-breakpoint-up(md){
  .page-main-title{
    height: 300px;
  }
  .page-bg{
    height: 300px;
  }
}

.reference-page{
  img{
    display: block;

    margin: 3rem auto;
  }
}

// RETINA
@media screen and (min-width: 2000px){
  .contact-us::after,
  .footer::after,
  .footer::before{
    width: 32%;
  }
  .sidebar-contacts:after{
    left: -180%;

    width: 185%;
  }
  .contact-us::after{
    left: -70px;

    width: 35%;
  }
}
.page-title{
  margin-left: -15px;
}

.entry-content p{
  text-align: justify;
}
