#left-sidebar.widget-area{
  display: none;

  @include media-breakpoint-up(xl){
    display: block;

    margin-top: 102px;
  }
}

.sidebar-box{
  margin: 1rem 0 !important;
}
.sidebar-box-title{
  font-weight: $font-weight-regular;

  text-transform: uppercase;
}
.sidebar-box-content{
  padding: .25rem 2rem !important;
}
.sidebar-box-icon img{
  position: relative;
  left: 4px;

  width: 25px !important;
}

.sidebar-box{
  transition: all $timing ease;
  &:hover{
    background: $dark-grey;
  }
}
