//
// sidebar-contacts
// -----------------

.sidebar-contacts{
  position: relative;
  a,
  p,
  h4,
  span{
    color: $black;
  }
}

.sidebar-contacts{
  .footer__title{
    margin-bottom: 1rem;

    color: $white;
  }
}
.sidebar-contacts{
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 49px;
    left: -60px;

    width: 25%;
    height: 42px;

    background: $red;
  }
}
@include media-breakpoint-up(lg){
  .sidebar-contacts:after{
    top: 52px;
    left: -50px;

    width: 25%;
    height: 49px;
  }
}

@include media-breakpoint-up(xl){
  .sidebar-contacts:after{
    top: 0;
    left: -150%;

    width: 150%;
    height: 43px;
  }
}
