//
// SLIDER
// -------
.slider,
.slick-slider,
.slick-track{
  position: relative;

  height: 15em;
  padding: 0;
}
@include media-breakpoint-up(lg){
  .slider,
  .slick-slider,
  .slick-track{
    height: 30em;
  }
}
.slider-item__content{
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  width: 10em;
  margin-right: auto;
  margin-left: auto;

  font-size: 1.75rem;
  font-weight: $font-weight-heavy;
  line-height: .5;

  transform: translateY(-75%);

  color: $white;

  h1{
    text-align: left;

    color: $white;
  }
  span{
    display: block;

    font-weight: 900;
    line-height: 1;

    color: $white;
  }
}
@include media-breakpoint-up(lg){
  .slider-item__content{
    width: 12em;

    font-size: 4rem;
  }
}
.slider-item:nth-child(1){
  background: #fff url(../img/slider1.jpg) center / cover no-repeat ;
}
.slider-item:nth-child(2){
  background: #fff url(../img/slider2.jpg) center / cover no-repeat ;
}
.slider-item:nth-child(3){
  background: #fff url(../img/slider3.jpg) center / cover no-repeat ;
}
@include media-breakpoint-down(lg){
  .slider-item{
    background-position: right center !important;
  }
}
.slick-arrow{
  position: absolute;
  top: auto;
  bottom: 0;
  z-index: 100;

  width: 32px;
  height: 32px;

  line-height: 1.75;

  transition: all $timing;
  transform: translateY(-50%);
  text-align: center;

  color: $white;
  border: 0;
  background: rgba($dark-grey, .6);
  i{
    display: inline-block;

    width: 100%;
    height: 16px;

    vertical-align: bottom;

    background-image: url(data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%00%0E%00%00%00%14%08%06%00%00%00%BD%05%0C%2C%00%00%01%1BiTXtXML%3Acom.adobe.xmp%00%00%00%00%00%3C%3Fxpacket%20begin%3D%22%EF%BB%BF%22%20id%3D%22W5M0MpCehiHzreSzNTczkc9d%22%3F%3E%0A%3Cx%3Axmpmeta%20xmlns%3Ax%3D%22adobe%3Ans%3Ameta%2F%22%20x%3Axmptk%3D%22XMP%20Core%205.5.0%22%3E%0A%20%3Crdf%3ARDF%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%3E%0A%20%20%3Crdf%3ADescription%20rdf%3Aabout%3D%22%22%2F%3E%0A%20%3C%2Frdf%3ARDF%3E%0A%3C%2Fx%3Axmpmeta%3E%0A%3C%3Fxpacket%20end%3D%22r%22%3F%3E%1AJ%AB%EA%00%00%01%82iCCPsRGB%20IEC61966-2.1%00%00%28%91u%91%CBKBA%14%87%3F%EDa%A8aP%8B%16-%24%AC%95E%19Dm%82%94%B0%40B%CC%20%AB%8D%DE%7C%04j%97%7B%95%90%B6A%DB%A0%20j%D3kQ%7FAm%83%D6AP%14A%04%EDZ%17%B5%A9%B8%9D%9B%82%12y%863%E7%9B%DF%CC9%CC%9C%01k4%AB%E4%F4%C6%01%C8%E5%0BZ%24%E8w%CF%C5%E6%DD%B6g%EC8h%A5%99%B6%B8%A2%AB%E3%E1p%88%BA%F6q%87%C5%8C7%7Df%AD%FA%E7%FE5%C7RRW%C0%D2%22%3C%A6%A8ZAxR8%B4ZPM%DE%16%EEP2%F1%25%E1Sa%AF%26%17%14%BE5%F5D%99_LN%97%F9%CBd-%1A%09%80%B5M%D8%9D%AE%E1D%0D%2B%19-%27%2C%2F%C7%93%CB%16%95%CA%7D%CC%978%93%F9%D9%19%89%DD%E2%5D%E8D%08%E2%C7%CD%14%13%04%18f%90Q%99%87%E9%C3G%BF%AC%A8%93%3F%F0%9B%3F%CD%8A%E4%2A2%AB%94%D0X%26M%86%02%5EQ%8BR%3D%291%25zRF%96%92%D9%FF%BF%7D%D5SC%BEru%A7%1F%9A%9E%0C%E3%AD%07l%5B%F0%BDi%18%9F%87%86%F1%7D%04%0D%8Fp%91%AF%E6%AF%1C%C0%C8%BB%E8%9BU%CD%B3%0F%AEu8%BB%ACj%89%1D8%DF%80%CE%075%AE%C5%7F%A5%06qk%2A%05%AF%27%D0%1A%83%F6k%B0%2F%94%7BV%D9%E7%F8%1E%A2k%F2UW%B0%BB%07%BDr%DE%B5%F8%03%E7%FAg%AC%ED%CF%E8%F6%00%00%00%09pHYs%00%00%0E%C4%00%00%0E%C4%01%95%2B%0E%1B%00%00%01aIDAT8%8D%95%D2%3DK%C3P%14%06%E0%97%E8%1A%14%3F%90%16%3A%B8%B89%18R%E3%ED%17%82%F8%2BD%90v%2A%A5%88%88%9BHAqu%F3%1F%88C%C7n%9D%14D%94V%17%B1%11%11q%11%2CTls%11%97%C6%D7ARJr%FBu%E0%40%C8%E5%E1%DC%BC%27%20%09%AF%8F%F6%0F%E6I%96I%9A%DD%EFU%DDyXO%AE%9E%DEW%AA%3F%FC%AF%2F%92%D1%81p-%91%3A%B9%BA%B8%A4%AF%9A%FD0%84a%1Ef66%D9n%B7%FD%D0%C3%CB%2A%A8%01pk%B6%8D%BD%FC6%5C%D7%85%AF%26%00%94%01X%FE%03%90%840%CC%820L%EEds%BD%26%B7HZ%CAp%86%C4%2B%018%02%16%018%24vH%0Ae%D4%1E%DE%CD%E5U%90%24%1D-%90%16%80%EB%BBJA%D3%B4%92%25%84%EA%18%00%DE%95%13%13Q%2BS%3C%3BW%8E%92%8E%7C%2397%2Az%259%1B%08%A7%1Fr%1C%F9Br%86%FEu%0C%40%CF%24%A7%BB%87%0C%81%9C%27%92S%FEO%820%CCtv%2B%FD%DB%03%D5HN%FA%11I%8CEB%E1%FCG%BD%BE%D4l%7C%22%96Jv%F2%96R%3E%EA%BA%1E%03%D0R%EDc%2C%12%0A%97%00%2C%D8%B6%BD%F8%DDr%60%C5c%90R%3E%E8%BA%1E%07%E0%F4Z%A4%F7%A7%8C%0B%C3%2C%0A%C3lTon%8FI%EA%AA%EBu%F7%1Fg%9B%E5jQ%2Ak%BD%00%00%00%00IEND%AEB%60%82);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &:hover{
    background: $red;
  }
}
@include media-breakpoint-up(lg){
  .slick-arrow{
    top: 50%;
    bottom: auto;  line-height: 1.5;
  }
}
.slick-next{
  right: 20px;
}
.slick-prev{
  left: 20px;

  i{
    transform: rotate(180deg);
  }
}

.slick-dots{
  display: none !important;
}
@include media-breakpoint-up(lg){
  .slick-dots{
    display: block !important;
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;

    width: 8em;
    margin-right: auto;
    margin-left: auto;


    li{
      display: inline;

      margin: 0 .25rem;
    }
    button{
      width: 4px;
      height: 16px;

      font-size: 0;
      line-height: 0;

      text-indent: -9999em;

      border: 1px rgba($dark-grey, .6) solid;
      border-radius: 100%;
      outline: 0;
      background: rgba($dark-grey, .6);
    }
  }
  .slick-active button{
    border: 1px $red solid;
  }
}
