//
// BOX
// ----------
.section-boxes{
  margin: 30px 0;

  @include media-breakpoint-down(md){
    margin: 50px 0 0;
  }
}
.page-template{
  @include media-breakpoint-up(xl){
    .section-boxes{
      margin: 0;
    }
  }
}
.box{
  position: relative;

  width: 100%;
  height: 130px;

  transition: all ease .2s;

  background: #e3012e url(../img/box-bg.png) left/contain no-repeat;

  @include media-breakpoint-up(lg){
    height: 100%;
  }
}



.box-title{
  position: relative;
  top: 90px;
  left: 65px;

  max-width: 3rem;

  font-weight: $font-weight-bold;
  line-height: 1;

  text-transform: uppercase;

  color: $white;

  @include media-breakpoint-up(lg){
    top: 63px;
    left: 10px;

    font-size: 1.75rem;
  }
  @include media-breakpoint-up(xl){
    left: 55px;
  }
}
.box-arrow{
  position: absolute;
  right: 17px;
  bottom: 15px;

  width: 22px;
  height: 22px;

  font-size: 2rem;

  transition: all ease $timing;

  color: $white;
  background: url(../img/angle-with-shadow.svg) center / contain no-repeat;
}


.box .box-bg{
  display: block;
  position: absolute;
  top: -85px;

  width: 100%;
  height: 100%;
}
.box-doprava{
  .box-title{
    top: 60px;
  }
  .box-bg{
    background: url(../img/box-doprava.png) center / 95% no-repeat ;

    @include media-breakpoint-up(xl){
      top: -75px;
    }
  }
}
.box-doprava   .box-title{
  @include media-breakpoint-up(lg){
    top: 35px;
  }
}
.box-spedice .box-bg{
  top: -85px;
  right: 5px;

  height: 120%;

  background: url(../img/box-spedice.png) right bottom / contain no-repeat ;

  @include media-breakpoint-up(lg){
    height: 140%;
  }
}
.box-sklad .box-bg{
  background: url(../img/box-sklad.png) center / contain no-repeat ;

  @include media-breakpoint-up(md){
    top: -55px;
  }
}
.box-video .box-bg{
  right: 13px;

  height: 110%;

  background: url(../img/box-video.png) right center / contain no-repeat ;

  @include media-breakpoint-up(md){
    height: 125%;
  }
}

@include media-breakpoint-down(sm){
  .box-doprava,
  .box-spedice,
  .box-sklad{
    margin-bottom: 6rem;
  }
}

@include media-breakpoint-only(md){
  .section-boxes{
    margin: 80px 0 0 !important;
  }
  .section-boxes .first{
    margin-bottom: 70px;
  }
}

@include media-breakpoint-up(md){
  .box-doprava{
    margin-left: 0;
  }
}

.box:hover{
  background-color: #b00124;
  .box-arrow{
    transform: rotate(90deg);
  }
}

/// LANG
// EN
html[lang="en-GB"] .box-title{
  left: 20px;
}
// DE
html[lang="de-DE"] .box-doprava .box-title{
  left: 10px;
}

// ACTIVE 
.page-id-37 .box-doprava,
.page-id-38 .box-spedice,
.page-id-39 .box-sklad,
.page-id-302 .box-doprava,
.page-id-347 .box-spedice,
.page-id-321 .box-sklad,
.page-id-344 .box-doprava,
.page-id-349 .box-spedice,
.page-id-351 .box-sklad{
  background-color: #b00124;
}
.page-id-37 .box-doprava .box-arrow,
.page-id-38 .box-spedice .box-arrow,
.page-id-39 .box-sklad .box-arrow,
.page-id-302 .box-doprava .box-arrow,
.page-id-347 .box-spedice .box-arrow,
.page-id-321 .box-sklad .box-arrow,
.page-id-344 .box-doprava .box-arrow,
.page-id-349 .box-spedice .box-arrow,
.page-id-351 .box-sklad .box-arrow{
  transform: rotate(90deg);
}
