//
// OUR CLIENTS
// -----------

.our-clients__title{
  width: 100%;

  font-size: 2rem;

  text-align: center;
  text-transform: uppercase;

  color: $light-grey;
}
.our-clients__item{
  display: flex;

  padding: 1rem 0;

  justify-content: center;
  align-items: center;
  img{
    height: 45px;
  }
}
@include media-breakpoint-up(lg){
  .our-clients__item{
    padding: 1rem 0;
  }
}

@include media-breakpoint-only(md){
  .our-clients__item{
    padding: 2rem 1rem;
  }
}
