  //
// PAGE HEADER
// -------------
.page-header{
  padding: 0;

  @include media-breakpoint-up(md){
    padding: 30px 0 0;
  }
}
.page-header{
  &:after{
    content: '';
    display: inline-block;
    display: none;
    position: absolute;
    top: 0;
    right: -100%;

    width: 130%;
    height: 40px;
    margin-right: 2rem;

    -webkit-transform: skew(-10deg);
       -moz-transform: skew(-10deg);
         -o-transform: skew(-10deg);

    background: $black;

    @include media-breakpoint-up(md){
      display: block;
    }
  }
}
@include media-breakpoint-up(md){
  .page-header:after{
    top: 30px;
  }
}
.category-kariera{
  .page-header:after{
    top: 0;
  }
}
.page-title{
  display: none;
  position: relative;

  height: 3rem;
  margin: 0 0 1rem;

  font-size: 2rem;
  font-weight: $font-weight-bold;

  text-transform: uppercase;

  color: $black;

  @include media-breakpoint-up(md){
    display: block;
  }
  &:before{
    content: '';
    display: inline-block;
    position: relative;
    left: 4px;

    width: 20px;
    height: 100%;
    margin-right: 1rem;

    -webkit-transform: skew(-10deg);
       -moz-transform: skew(-10deg);
         -o-transform: skew(-10deg);
            transform: skew(-10deg);
    vertical-align: bottom;

    background: $red;
  }
}
.page-image{
  width: 100%;
  height: 100%;
  margin-bottom: .5rem;
}
