//
// SERVICES
// --------

.section-services{
  position: relative;
  overflow: hidden;

  background: $dark-grey;
}
.section-services{
  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 86px;
    right: -50px;

    width: 40%;
    height: 48px;
    margin-right: 2rem;

    -webkit-transform: skew(-10deg);
       -moz-transform: skew(-10deg);
         -o-transform: skew(-10deg);

    background: $black;
  }
}
// DE
html[lang="de-DE"] .section-services::after{
  right: -160px;
}
@include media-breakpoint-down(lg){
  .section-services::after{
    display: none;
  }
}
.services__title{
  width: 100%;

  font-weight: $font-weight-bold;

  text-align: center;
  text-transform: uppercase;

  color: $white;
  &:before{
    content: '';
    display: inline-block;

    width: 20px;
    height: 100%;
    margin-right: 2rem;

    -webkit-transform: skew(-10deg);
       -moz-transform: skew(-10deg);
         -o-transform: skew(-10deg);
            transform: skew(-10deg);
    vertical-align: top;

    background: $red;
  }
}


.services__box{
  margin: 2rem 0;

  background: $light-grey;
  // &:hover{
  //   background: darken($light-grey, 10%);
  // }

  @include media-breakpoint-only(md){
    min-height: 115px;
  }
}
.services__box-icon{
  display: inline-block;
  position: relative;

  height: auto;

  text-align: center;

  background: $red;

  &:after{
    content: '';
    display: inline-block;
    position: absolute;
    right: -10px;

    width: 20px;
    height: 100%;

    -webkit-transform: skew(-10deg);
       -moz-transform: skew(-10deg);
         -o-transform: skew(-10deg);
    vertical-align: top;

    background: $red;
  }
  &:after{
    display: none;

    @include media-breakpoint-up(xl){
      display: inline-block;
    }
  }
}
.services__box-icon img{
  display: inline-block;

  width: 50px;
  height: 100%;
  margin: 0 auto;

  vertical-align: middle;

  &.smaller{
    width: 40px;
  }
}
.services__box-content{
  display: inline-block;

  padding: 1rem;

  @include media-breakpoint-up(lg){
    padding: .5rem 1rem .5rem 1rem;
  }
}

.services__box-title{
  font-weight: $font-weight-bold;
  line-height: normal;

  text-transform: uppercase;

  color: $white;
}
@include media-breakpoint-between(xs,md){
  html[lang="de-DE"]{
    .services__title{
      font-size: 1.25rem;
    }
  }
}
.services__box-perex{
  font-weight: $font-weight-regular;
  line-height: 1.25;

  color: $white;
}

@include media-breakpoint-down(md){
  .services__box:last-of-type{
    margin-bottom: 0;
  }
}

body:after{
  content: url(../img/angle-with-shadow--hover.svg);
  display: none;
  visibility: hidden;
}
.section-services__link{
  display: block;

  margin-top: 2rem;

  font-size: 1.25rem;

  transition: color $timing;

  color: $white;

  @include media-breakpoint-up(lg){
    display: inline-block;

    margin-top: 0;
  }
  &:hover{
    color: $red;

    .box-arrow{
      background-image: url(../img/angle-with-shadow--hover.svg);
    }
  }
  .box-arrow{
    display: inline-block;
    position: static;

    width: 16px;
    height: 16px;

    vertical-align: middle;
  }
}
