.section-video{
  background: $red url(../img/slider3.png) center / cover no-repeat;
}
.section-elementor-videos{
  img{
    display: none !important;
  }
}
.section-video__content{
  text-align: center;
}

.section-video__content__btn{
  padding: 1rem;

  line-height: 0;

  text-align: center;

  border-radius: 100%;

  img{
    position: relative;
    top: -1px;
    left: 2px;
  }
}
