//
// TYPOGRAPHY
// ----------


html,
body{
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// TYPO SETTINGS
html{
  font-size: 14px;
}

@include media-breakpoint-up(lg){
  html{
    font-size: 16px;
  }
}

*{
  font-family: $font-family;
  font-weight: $font-weight-regular;
  line-height: $font-height;

  color: $black;
}

// typography

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.375rem;
}

h4{
  font-size: 1.125rem;
}

h5{
  font-size: 1rem;
}

h6{
  font-size: .875rem;
}

p,
a{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;

  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;

  list-style: none;
}


.font-regular{
  font-weight: $font-weight-regular;
}

.font-bold{
  font-weight: $font-weight-bold;
}

.font-heavy{
  font-weight: $font-weight-heavy;
}

// utility

.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.justify{
  text-align: justify;
}

.hidden-sm{
  display: none;
}
.text-larger{
  font-size: 120%;
}
