//
// VARIABLES
// ---------

// COLORS
$black: #000;
$white: #fff;
$dark-grey: #575756;
$light-grey: #868686;
$red: #e3012e;

// FONT
$font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-heavy: 900;
$font-height: 1.5;

$wrapper-padding-y: 60px;
$wrapper-padding-y-sm: 30px;

section:not(.elementor-element){
  @include media-breakpoint-up(xl){
    padding: $wrapper-padding-y 0;
  }
}
.elementor{
  padding-top: 15px;
}
@include media-breakpoint-down(lg){
  section{
    padding: $wrapper-padding-y-sm 0;
  }
}

// ANIMATIONS
$timing: .2s;
