//
// BUTTONS
// --------

.btn{
  text-transform: uppercase;

  border: 0;
  outline: 0;
}
.btn-primary{
  padding: 1rem 1.5rem;

  cursor: pointer;
  transition: background $timing;

  color: $white;
  background: $red;
  &:hover{
    background: darken($red, 10%);
  }
}
