//
// FORMS
// -------
form{
  .row:first-child .col:first-of-type{
    padding-right: 0;
  }
}
input:not([type="submit"]){
  height: 48px;
}
input:not([type="submit"]),
textarea{
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;

  color: $white;
  border: 0;
  background: $light-grey;

  &:focus{
    outline: $red auto 3px;
  }
}

// PLACEHOLDERS
input::-webkit-input-placeholder{
  /* Chrome/Opera/Safari */
  color: $white;
}
input::-moz-placeholder{
  /* Firefox 19+ */
  color: $white;
}
input:-ms-input-placeholder{
  /* IE 10+ */
  color: $white;
}
input:-moz-placeholder{
  /* Firefox 18- */
  color: $white;
}
textarea::-webkit-input-placeholder{
  /* Chrome/Opera/Safari */
  color: $white;
}
textarea::-moz-placeholder{
  /* Firefox 19+ */
  color: $white;
}
textarea:-ms-input-placeholder{
  /* IE 10+ */
  color: $white;
}
textarea:-moz-placeholder{
  /* Firefox 18- */
  color: $white;
}
