//
// HELPERS
// -------

.only-mobile{
  display: block !important;

  @include media-breakpoint-up(md){
    display: none !important;
  }
}
.only-mobile-tablet{
  display: block !important;

  @include media-breakpoint-up(lg){
    display: none !important;
  }
}
.only-tablet-desktop{
  display: none !important;

  @include media-breakpoint-up(md){
    display: block !important;
  }
}

*{
  color: inherit;
}
