.sticky{
  display: block;
}

.hentry{
  margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
  display: none;
}

.single .byline,
.group-blog .byline{
  display: inline;
}

.page-content,
.entry-content,
.entry-summary{
  margin: 1.5em 0 0;
}

.entry-content p{
  text-align: justify;
}

.page-links{
  clear: both;

  margin: 0 0 1.5em;
}
