//
// Contacts
// ------
.contacts{
  hr{
    height: 2px;

    color: $red;
    border: 0;
    background: $red;
  }
  h4{
    text-transform: uppercase;
  }
}
.contacts-table{
  text-align: left;
  tr th:first-child{
    padding-right: 2rem;
  }
  tr:nth-child(4n+1){
    th:last-child{
      font-weight: $font-weight-bold;
    }
  }
  tr:nth-child(4n){
    th{
      padding-bottom: 1rem;
    }
  }
  &.last{
    tr:nth-child(3) th{
      padding-bottom: 1rem;
    }
    tr:nth-child(4n){
      th{
        padding-bottom: 0rem;
      }
      th:last-child{
        font-weight: $font-weight-bold;
      }
    }
    tr:nth-child(5n){
      th:last-child{
        font-weight: $font-weight-regular;
      }
    }
  }
}
