//
// FOTOGALERY
// ----------

.fotogalery{
  p{
    margin: 0 0 1rem;
  }
}
.crop{
  overflow: hidden;

  width: 100%;
  height: 200px;
  margin: 1rem 0;
}
.crop img{
  width: 100%;
  height: auto;
}
.fotogalery-table__title{
  margin-bottom: .5rem;

  font-weight: $font-weight-bold;

  text-transform: uppercase;
}

.fotogalery-table{
  width: 100%;

  table-layout: fixed;

  text-align: center;
  td{
    padding: .25rem 0;

    color: $white;
    background: $red;
  }
  th{
    padding: .25rem 0;

    color: $white;
    background: $light-grey;
  }
}
